@charset "UTF-8"

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Abebas';
    src: url(../fontes/BebasNeue-Regular.ttf) format(opentype);
}
@font-face {
    font-family: 'Game';
    src: url(../fontes/Gameplay.ttf) format(truetype);
}
:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ab;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: arial, verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Abebas' Abebas;
    --fonte-android: 'idroid', Game;

}

*{
    margin: 0px;
    padding: 0px;

}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}


header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) ) ;
    padding-top: 40px;
    min-height:150px;
    text-align: center;
}
header > h1 {
    color: white;
    font-family: Abebas;
    font-size: 3em;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445);
    
}
header > p {
    color: white;
    font-family: Abebas;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.445);    
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.493);
}
nav a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;  
}
nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
main h1 {
    color: #1a5c37;
    text-align: center;
    font-family: var(--fonte-android);
    font-size: 1.8em;

}

main h2 {
    color: #063d1e;
    background-image:linear-gradient(to right, #3ddc84, transparent ) ;
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.4em;
    text-indent: 8px;
}
main p {
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
    margin: 15px 0px;

}
main strong {
    color: var(--cor4);
    font-weight: bold;

}

main img {
    width: 100%;

}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}



main a {
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
}
a.externo::after {
    content: '\00A0\1F517';

}

div {
    background-color: var(--cor5);
    padding: 0px;
    margin: 10px 10px -10px 10px;
}
div.video {
    
    margin: 10px 10px 10px 10px;
    padding: 30%;
    position: relative; 
}

div > video {
    position: absolute; 
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.521);
}
aside h3 {
    color: white;
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
}

footer {
    background-color: var(--cor5) ;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}